/* Hide the "Download as" option in the File menu */
#download_as, .jp-ToolbarButtonComponent-label{
    display: none !important;
}

/* Hide the Save and Download buttons in the toolbar */
#save-notbook, .btn-group .btn {
    display: none !important;
}

/* Hide any other download-related buttons */
.btn[data-jupyter-action="filemenu:download"] {
    display: none !important;
}

/* Targeting elements with aria-label="JupyterLab" */
[data-jp-item-name="loadFromBrowser"], [data-jp-item-name="interfaceSwitcher"], [data-jp-item-name="debugger-icon"], [data-jp-item-name="kernelName"], [data-jp-item-name="executionProgress"], [data-jp-item-name="scrollbar"], [data-jp-item-name="linkToBinder"], [data-jp-item-name="openRepo"], [data-jp-item-name="openRepo"], [data-jp-item-name="saveToBrowser"]{
    display: none !important;
}

/* Example: Hiding the top toolbar */
#menu-panel-wrapper {
    display: none !important;
}

/* Example: Hiding the file browser in JupyterLab */
.jp-FileBrowser {
    display: none !important;
}
